# see https://github.com/sphinx-doc/sphinx/issues/12299
sphinx>=4,!= 5.2.0,!=7.3.2,!=7.3.3,!=7.3.4,!=7.3.5,!=7.3.6
pydata-sphinx-theme
pytest
pytest-coverage
numpy
matplotlib
seaborn
statsmodels
joblib
plotly
absl-py
graphviz
packaging
jupyterlite-sphinx
lxml
sphinxcontrib-video