include CHANGES.rst
include LICENSE
include requirements.txt
recursive-include examples *.py
recursive-include examples *.txt
recursive-include tutorials *.py
recursive-include tutorials *.txt
recursive-include mayavi_examples *.py
recursive-include mayavi_examples *.rst
recursive-include sphinx_gallery *.py
recursive-include sphinx_gallery/tests/testconfs *
recursive-include sphinx_gallery/tests/tinybuild *
include sphinx_gallery/tests/reference_parse.txt
exclude sphinx_gallery/_static/broken_stamp.svg
exclude RELEASES.md
recursive-exclude continuous_integration *
exclude continuous_integration
recursive-exclude doc *
exclude doc
exclude *.yml
global-exclude *.pyc
exclude dev-requirements.txt
recursive-exclude .circleci *
exclude .circleci
prune **/__pycache__
exclude __pycache__
recursive-exclude */gen_modules *
exclude gen_modules
exclude .DS_store
