version: 2
jobs:
  build_docs:
    docker:
      - image: circleci/python:3.7.7-buster
    steps:
      # Get our data and merge with upstream
      - run: sudo apt-get update
      - run: sudo apt-get --no-install-recommends install -y texlive texlive-latex-extra latexmk libxkbcommon-x11-0 optipng libxcb-icccm4 libxcb-image0 libxcb-keysyms1 libxcb-randr0 libxcb-render-util0 xcb libxcb-xfixes0 libxcb-xinerama0 libxcb-shape0
      - checkout
      - run: echo $(git log -1 --pretty=%B) | tee gitlog.txt
      - run: echo ${CI_PULL_REQUEST//*pull\//} | tee merge.txt
      - run:
         command: |
           if [[ $(cat merge.txt) != "" ]] && [[ $(cat gitlog.txt) != *"[circle nomerge]"*  ]]; then
             echo "Merging $(cat merge.txt)";
             git pull --ff-only origin "refs/pull/$(cat merge.txt)/merge";
           fi
      # Python env
      - run: echo "export PATH=~/.local/bin:$PATH" >> $BASH_ENV
      - run: echo "export DISPLAY=:99" >> $BASH_ENV
      - run: /sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -screen 0 1400x900x24 -ac +extension GLX +render -noreset;

      - restore_cache:
          keys:
            - cache-pip
      - run: pip install --user numpy matplotlib pyqt5 seaborn statsmodels sphinx_rtd_theme pillow joblib sphinx pytest vtk traits traitsui pyface https://github.com/enthought/mayavi/zipball/master memory_profiler ipython plotly
      - save_cache:
          key: cache-pip
          paths:
            - ~/.cache/pip

      # Fix libgcc_s.so.1 pthread_cancel bug:
      # https://github.com/ContinuumIO/anaconda-issues/issues/9190#issuecomment-386508136
      - run: sudo apt-get install libgl1-mesa-glx libegl1-mesa libxrandr2 libxrandr2 libxss1 libxcursor1 libxcomposite1 libasound2 libxi6 libxtst6
      - run: python -c "from mayavi import mlab; import matplotlib.pyplot as plt; mlab.figure(); plt.figure()"
      - run: python setup.py develop --user

      - run: python setup.py build_sphinx -nW --keep-going
      - store_artifacts:
          path: doc/_build/html/
          destination: rtd_html
      - store_test_results:
          path: doc/_build/html/

      - run: sphinx-build sphinx_gallery/tests/tinybuild/ tiny_html
      - store_artifacts:
          path: tiny_html
          destination: tiny_html

      - run: cd sphinx_gallery/tests/tinybuild/ && make clean && make latexpdf
      - store_artifacts:
          path: sphinx_gallery/tests/tinybuild/_build/latex/
          destination: latex

      - persist_to_workspace:
          root: doc/_build/html
          paths: .

  deploy_dev:
    docker:
      - image: circleci/python:3.6-stretch
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "aa:70:d9:6b:35:74:50:d1:f7:73:fb:3d:3c:79:cd:5c"
      - attach_workspace:
          at: rtd_html
      - run: ./.circleci/docs_deploy.sh rtd_html dev

  deploy_stable:
    docker:
      - image: circleci/python:3.6-stretch
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "aa:70:d9:6b:35:74:50:d1:f7:73:fb:3d:3c:79:cd:5c"
      - attach_workspace:
          at: rtd_html
      - run: ./.circleci/docs_deploy.sh rtd_html stable


workflows:
  version: 2
  default:
    jobs:
      # https://circleci.com/docs/2.0/workflows/#executing-workflows-for-a-git-tag
      # Run for all branches and tags
      - build_docs:
          filters:
            tags:
              only: /.*/
      # Run for master branch
      - deploy_dev:
          requires:
            - build_docs
          filters:
            branches:
              only: master
      # Run for tags named vX.Y.Z
      - deploy_stable:
          requires:
            - build_docs
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v\d+\.\d+\.\d+$/
