version: 2
jobs:
  build_docs:
    docker:
      - image: cimg/python:3.10.10
    steps:
      # Get our data and merge with upstream
      - checkout
      - run:
          name: Update libraries
          command: |
            sudo apt update
            sudo apt --no-install-recommends install -yq \
              libosmesa6 libglx-mesa0 libopengl0 libglx0 libdbus-1-3 \
              libxkbcommon-x11-0 libxcb-icccm4 libxcb-image0 libxcb-keysyms1 libxcb-randr0 libxcb-render-util0 libxcb-shape0 libxcb-xfixes0 libxcb-xinerama0 xvfb \
              texlive texlive-latex-extra latexmk optipng tex-gyre graphviz
      - run:
          name: Merge with upstream
          command: |
            echo $(git log -1 --pretty=%B) | tee gitlog.txt
            echo ${CI_PULL_REQUEST//*pull\//} | tee merge.txt
            if [[ $(cat merge.txt) != "" ]] && [[ $(cat gitlog.txt) != *"[circle nomerge]"*  ]]; then
              echo "Merging $(cat merge.txt)";
              git pull --ff-only origin "refs/pull/$(cat merge.txt)/merge";
            fi
      # Python env
      - run:
          name: Set up Xvfb
          command: |
            echo 'export PATH=~/.local/bin:$PATH' >> $BASH_ENV
            echo 'export XDG_RUNTIME_DIR=/tmp/runtime-circleci' >> $BASH_ENV
            echo 'export DISPLAY=:99' >> $BASH_ENV
            /sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -screen 0 1400x900x24 -ac +extension GLX +render -noreset;

      - restore_cache:
          keys:
            - cache-pip
      - run:
          name: Pip
          command: |
            pip install --progress-bar off --user --upgrade --only-binary ":all:" pip setuptools
            pip install --progress-bar off --user --upgrade --only-binary ":all:" numpy matplotlib "pyqt5!=5.15.2,!=5.15.3,!=5.15.8" vtk
            pip install --progress-bar off --user --upgrade seaborn statsmodels pillow joblib sphinx pytest traits pyvista memory_profiler "ipython!=8.7.0" plotly graphviz "docutils>=0.18"
            pip install --progress-bar off "jupyterlite-sphinx>=0.8.0,<0.9.0" "jupyterlite-pyodide-kernel<0.1.0"
            pip install --progress-bar off --user --upgrade --pre pydata-sphinx-theme
      - save_cache:
          key: cache-pip
          paths:
            - ~/.cache/pip

      # Fix libgcc_s.so.1 pthread_cancel bug:
      # https://github.com/ContinuumIO/anaconda-issues/issues/9190#issuecomment-386508136
      - run:
          name: Test libs
          command: |
            python -c "import pyvista;print(pyvista.Report())"
      - run:
          name: Install
          command: |
            python setup.py develop --user

      - run: python setup.py build_sphinx -nW --keep-going
      - store_artifacts:
          path: doc/_build/html/
          destination: rtd_html
      - store_test_results:
          path: doc/_build/html/

      - run: sphinx-build sphinx_gallery/tests/tinybuild/doc tiny_html
      - store_artifacts:
          path: tiny_html
          destination: tiny_html

      - run:
          name: latexpdf
          command: |
            cd sphinx_gallery/tests/tinybuild/doc && make clean && make latexpdf
      - store_artifacts:
          path: sphinx_gallery/tests/tinybuild/doc/_build/latex/
          destination: latex

      - persist_to_workspace:
          root: doc/_build/html
          paths: .

  deploy_dev:
    docker:
      - image: circleci/python:3.7-stretch
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "87:18:18:25:10:8c:29:0f:25:bd:28:b1:4f:cd:af:96"
      - attach_workspace:
          at: rtd_html
      - run: ./.circleci/docs_deploy.sh rtd_html dev

  deploy_stable:
    docker:
      - image: circleci/python:3.7-stretch
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "87:18:18:25:10:8c:29:0f:25:bd:28:b1:4f:cd:af:96"
      - attach_workspace:
          at: rtd_html
      - run: ./.circleci/docs_deploy.sh rtd_html stable


workflows:
  version: 2
  default:
    jobs:
      # https://circleci.com/docs/2.0/workflows/#executing-workflows-for-a-git-tag
      # Run for all branches and tags
      - build_docs:
          filters:
            tags:
              only: /.*/
      # Run for master branch
      - deploy_dev:
          requires:
            - build_docs
          filters:
            branches:
              only: master
      # Run for tags named vX.Y.Z
      - deploy_stable:
          requires:
            - build_docs
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v\d+\.\d+\.\d+$/
